.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.photos{  
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;}

.select-container select{
padding:20px;
clear: both;
}