.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.logo{
  background-color: #282c34;
}

.logo img{
 width: 270px;
 padding: 20px;
 display:block;
}

.photos{  
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.photo:focus{
  border: 1px solid red;
}

.select-container select{
padding:20px;
clear: both;
}